<div class="all">
  <br /><br />
  <% @users.each do |user| %>
    <div class="all_img">
      <a href="/user/<%= user.id %>"><img src="<%= user.pic_url %>" style="width: 100px; padding: 10px" alt="<%= user.name %>"/></a>
    </div>
  <% end %>
</div>