<div class="container">
  <div class="welcome">
    Hello, <%= @user.name %>
  </div>
  <div class="profile_pic">
    <img src="<%= @user.pic_url %>"/>
  </div>
  <div class="about">
    <%= @user.about %>
  </div>
  <br>
  <div class="tagline">
    <%= @user.tagline %>
  </div>
  <br>
  <div class = "demographics">
  </div>

</div>