<% if current_user %>
<% redirect "/user/#{current_user.id}/home" %>
<% else %>



<div class="container">
    <big>DO U WANT 2B LUV-D?</big>
      <font size="6px"><a id="go_signup" rel="leanModal" name="signup" href="#signup" align="right"><font color="#FF5DBF">♥</font> YES <small>(SIGN UP)</small></a></font>
</div>


<div id="signup" style="position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
      <div id="signup-ct">
        <div id="signup-header">
          <h2>Create a new account <font color="#FF5DBF">♥</font></h2>
          <p>It's simple, and free.</p>
          <a class="modal_close" href="#"></a>
        </div>
        <form action="/signup" method="POST">
          <div class="txt-fld">
            <label for="">Name: </label>
            <input name="user[name]" type="text">
          </div>
          <div class="txt-fld">
            <label for="">Email address: </label>
            <input name="user[email]" type="text">
          </div>
          <div class="txt-fld">
            <label for="">Password: </label>
            <input name="user[password]" type="password">
          </div>
           <div class="txt-fld">
            <label for="">Confirm Password: </label>
            <input name="user[password_confirmation]" type="password">
          </div>
          <div class="btn-fld">
            <button type="submit">Sign Up »</button>
          </div>
        </form>
      </div>
    </div>

<div id="login" style="position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
      <div id="login-ct">
        <div id="login-header">
          <h2>Login</h2>
          <p>Be luv-d. <font color="#FF5DBF">♥</font></p>
          <a class="modal_close" href="#"></a>
        </div>
        <form action="/login" method="POST">
          <div class="txt-fld">
            <label for="">Email address: </label>
            <input name="user[email]" type="text">
          </div>
          <div class="txt-fld">
            <label for="">Password: </label>
            <input name="user[password]" type="password">
          </div>
          <div class="btn-fld">
            <button type="submit">Log In »</button>
          </div>
        </form>
      </div>
    </div>
